@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500&display=swap");
.fascinate {
  font-family: "Fascinate", cursive;
}

.hind_siliguri {
  font-family: "Hind Siliguri", sans-serif;
}

main,
body,
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0fffa;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
}

a {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-decoration: none;
}

h1 {
  font-family: "Fascinate", cursive;
}

[custom-input] {
  background-color: #ca4260;
  color: #f0fffa;
  border: 1px solid #ca4260;
  font-size: 1rem;
  border-radius: 7px;
  height: 35px;
  outline: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

[custom-input]::-webkit-input-placeholder {
  color: #f0fffa;
}

[custom-input]:-ms-input-placeholder {
  color: #f0fffa;
}

[custom-input]::-ms-input-placeholder {
  color: #f0fffa;
}

[custom-input]::placeholder {
  color: #f0fffa;
}

[custom-input]:hover,
[custom-input]:focus,
select:hover,
select:focus {
  background-color: #e7748d;
  color: #f0fffa;
  border: 1px solid #e7748d !important;
  cursor: pointer;
}

[custom-button] {
  border: 1px solid #30d5c8;
  background-color: #f0fffa;
  color: #30d5c8;
  outline: none;
  border-radius: 5px;
}

[custom-button]:hover {
  border: 1px solid #f0fffa;
  background-color: #30d5c8;
  color: #026159;
  cursor: pointer;
}

.logo-svg {
  fill: #f0fffa;
  width: 40px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 692px) {
  .left-toggle {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
  .slider_box {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1/1/2/4;
  }
  .right-toggle {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2/3/3/4;
  }
  .slider {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .create-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 300px;
  }
}

@media (max-width: 568px) {
  input {
    height: 30px;
  }
  .slider_box {
    width: 95vw;
  }
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .looked-nav {
    display: block;
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transform: translate(100vw);
            transform: translate(100vw);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .burger {
    display: block;
    z-index: 1;
    position: absolute;
    right: 10px;
    height: 25px;
  }
  .burger svg {
    fill: #f0fffa;
    width: 25px;
    height: 25px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    cursor: pointer;
  }
  .burger svg:hover {
    fill: #026159;
  }
  .burger-active {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .logo h1 {
    font-size: 2rem !important;
  }
  .header--information p {
    font-size: 1.3em !important;
  }
  .box_main-information {
    font-size: 1.2rem;
    padding: 10px 0 10px 10% !important;
  }
  .picture_box {
    margin: 25px 0 5px 0;
  }
  .picture_box img {
    width: 80vw;
  }
  .canvas_box {
    height: auto !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .settings {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100vw !important;
    height: auto !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .settings_size input {
    -webkit-transform: none !important;
            transform: none !important;
    bottom: -40px;
    left: -15px;
  }
  .canvas_block {
    width: 100vw !important;
  }
}

@media (max-width: 500px) {
  canvas {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 450px) {
  canvas {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 400px) {
  canvas {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .slider_box {
    width: 100vw;
  }
}

@media (max-width: 350px) {
  canvas {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 300px) {
  canvas {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
/*# sourceMappingURL=adaptive.css.map */